@import "tailwindcss";


@theme {
  --container-container: 1170px; 
  --text-40: 40px; 
  --color-primary: #FAFAFA; 
  --color-secondary: #DB4444; 
  --color-third: #FFAD33; 
  --font-pop: "Poppins", "sans-serif";
  --font-inter: "Inter", sans-serif;
  
}

.one{
  background-color: #0000004d;
}









